html, body {
  font-size: 16px;
  text-size-adjust: none;
}

.wrapper.collapsed{
  /*max-height: 16ex;*/
  overflow: hidden;
}

.wrapper.uninitialized {
  max-height: 14ex;
}

body {
  line-height: 20px;
}

.selector {
  overflow: hidden;
}